{% if username %}
<h2>Hello, {{ username }}</h2>
{% if message %}
  <h3>{{ message }}</h3>
{% endif %}
{% if balance %}
  <p>Your balance is {{ balance }}G</p>
{% endif %}
<form action="{% url 'GloebitEx:purchase_item' %}" method="post">
{% csrf_token %}
  <input type="submit" name="action" value="Buy a tiny item" />
  <input type="submit" name="action" value="Buy a small item" />
  <input type="submit" name="action" value="Buy a big item" />
</form>
<form action="{% url 'GloebitEx:product_action' %}" method="post">
{% csrf_token %}
  {% for product,count in products.items %}
    <input type="radio" name="product" id="{{ product }}" value="{{ product }}" />
    <label for="{{ product }}">{{ product }}</label> -- You have {{ count }} remaining<br />
  {% endfor %}
  <input type="submit" name="action" value="Purchase product" />
  <input type="submit" name="action" value="Consume product" />
</form>
{% else %}
<p>Hello?</p>
<p>I should know your name but do not.
  Something is terribly wrong...</p>
{% endif %}
<a href="{% url 'GloebitEx:logout' %}">Logout</a>
